/*.platform-ios .manual-ios-statusbar-padding {
    padding-top: 20px;
}
.manual-remove-top-padding {
    padding-top: 0px;
}
.manual-remove-top-padding .scroll {
    padding-top: 0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
    margin-left: -10px;
    margin-right: -10px;
}
ion-list.manual-list-fullwidth div.list> .item, .list.card.manual-card-fullwidth> .item {
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}
.slider-pager {
    top: 5px important!
}
.item-input {
    display: block !important;
}
.input-label {
    max-width: 100% !important;
    width: 100% !important;
}
.item-select select {
    position: relative !important;
}
.item-select:after {
    top: 60% !important;
}*/

#html, #body, #map-container {
    height: 100%;
}
.custom_grid .no_padding_margin {
    padding: 0;
}
.col .row {
    height: 70px;
}
.button-paragraph {
    line-height: 1.5em;
}
.login {
    background: url('../img/123.jpg') no-repeat center;
    background-size: auto 100%;
}
.center-vertical> * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.button-stretch {
    width: 100%;
}
.col-offset-15 {
    margin-left: 15%;
}
.ionic_ratings .icon {
    font-size: 50px;
}
.error-container {
    margin: 5px 0;
}
.error-container:last-child {
    margin: 5px 0 0;
}
.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}
.error i {
    font-size: 24px;
    color: #93032E;
    vertical-align: middle;
}
.last-error-container> .error {
    padding: 10px 16px 0;
}
.has-errors {
    border-bottom: 3px solid #93032E;
}
.no-errors {
    border-bottom: 3px solid green;
}
