.button-paragraph {
    line-height: 1.5em;
}
.login {
    background: url('../img/bicycles.jpg') repeat;
    background-size: auto 100%;
}
.center-vertical> * {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}
.button-stretch {
    width: 100%;
}
.col-offset-15 {
    margin-left: 15%;
}
.ionic_ratings .icon {
    font-size: 50px;
}
.error-container {
    margin: 5px 0;
}
.error-container:last-child {
    margin: 5px 0 0;
}
.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    vertical-align: middle;
    background-color: #93032E;
}
.error i {
    font-size: 24px;
    color: #ffffff;
    vertical-align: middle;
}
.last-error-container> .error {
    padding: 10px 16px 0;
}
.has-errors {
    border-bottom: 3px solid #93032E;
}
.no-errors {
    border-bottom: 3px solid #1abc9c;
}
.leaflet-bar.leaflet-control-rotate {}
.leaflet-control-rotate .leaflet-control-rotate-glyphs {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.leaflet-control-rotate .leaflet-control-rotate-north {
    position: absolute;
    left: 0;
    right: 0;
    top: 4px;
    bottom: 0;
    text-align: center;
    font-size: 22px;
}
.leaflet-control-rotate .leaflet-control-rotate-arrow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 32px;
    line-height: 16px;
}

/* Leaflet Easy Button Animation CSS

.state-remove-markers,
.state-add-markers{
  transition-duration: .5s;
  transform: scaleY(0);
  position: absolute;
  display: block;
  top: 0;
  width: 100%;}

.state-remove-markers{
  transform-origin: 50% 0; }
.state-add-markers{
  transform-origin: 50% 100%; }

.state-remove-markers.remove-markers-active{
  transform: scaleY(1); }

.state-add-markers.add-markers-active{
  transform: scaleY(1); }*/

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cee9fc), color-stop(100%, #E3F1FC));
    background: -webkit-linear-gradient(top, #cee9fc 0%, #E3F1FC 100%);
    /*background: url('../img/bicycles.jpg') repeat;
    background-size: auto 100%;*/
}
.login-container> .button-row img {
    max-width: 80%;
}
.login-container> .header {
    -webkit-flex: 4;
    padding-top: 20px;
}
.logo {
    max-height: 80%;
    max-width: 80%;
    width: auto;
}
.welcome-view {
    background-color: #00b6d6;
}
.welcome-view .top-content {
    height: 66%;
}
.welcome-view .top-content .app-copy {
    text-align: center;
    padding-top: 13vh;
}
.welcome-view .top-content .app-logo {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.welcome-view .top-content .app-tagline {
    font-size: 16px;
    margin-top: 0px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.95);
}
.welcome-view .bottom-content {
    height: 34%;
}
.welcome-view .bottom-content .google-sign-in {
    border-radius: 4px;
    font-weight: 500;
    color: #FFF;
    background-color: #dd4c39;
    border-color: #dc4430;
}
.ionic_ratings .read_only {
    pointer-events: none !important;
}
