<ion-view title="Answer Security Questions">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="forgot">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <h5 style="text-align:center;">Answer the security questions to reset the password for your account.</h5>
        <form name="signupForm" novalidate="" ng-submit="answer(signupForm)">
            <div class="list">
                <div class="item item-button-right" style="overflow: initial; white-space: initial;">
                    <b>Security Question 1:</b> {{questions[0].question}}
                    </button>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.ans1.$invalid && signupForm.$submitted, 'no-errors' : signupForm.ans1.$valid  && signupForm.$submitted}">
                    <span class="input-label">Answer </span>
                    <input type="text" name="ans1" ng-model="input.ans1" required>
                </label>
                <div class="error-container" ng-show="signupForm.ans1.$error && signupForm.$submitted" ng-messages="signupForm.ans1.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <div class="list">
                <div class="item item-button-right" style="overflow: initial; white-space: initial;">
                    <b>Security Question 2:</b> {{questions[1].question}}
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.ans2.$invalid && signupForm.$submitted, 'no-errors' : signupForm.ans2.$valid  && signupForm.$submitted}">
                    <span class="input-label">Answer </span>
                    <input type="text" name="ans2" ng-model="input.ans2" required>
                </label>
                <div class="error-container" ng-show="signupForm.ans2.$error && signupForm.$submitted" ng-messages="signupForm.ans2.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <div class="list">
                <div class="item item-button-right" style="overflow: initial; white-space: initial;">
                    <b>Security Question 3:</b> {{questions[2].question}}
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.ans3.$invalid && signupForm.$submitted, 'no-errors' : signupForm.ans3.$valid  && signupForm.$submitted}">
                    <span class="input-label">Answer </span>
                    <input type="text" name="ans3" ng-model="input.ans3" required>
                </label>
                <div class="error-container" ng-show="signupForm.ans3.$error && signupForm.$submitted" ng-messages="signupForm.ans3.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <button type="submit" class="button button-positive button-full">Continue</button>
        </form>
    </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="email">
        <i class="ion-information-circled"></i> Invalid Email
    </div>
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> Required Field
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Usernames must be between 8 and 15 characters
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> Usernames must be between 8 and 15 characters
    </div>
    <div class="error" ng-message="recordLoading">
        <i class="ion-information-circled"></i> Checking...
    </div>
    <div class="error" ng-message="checking">
        <i class="ion-information-circled"></i> Checking...
    </div>
    <div class="error" ng-message="recordAvailable">
        <i class="ion-information-circled"></i> Unavailable
    </div>
    <div class="error" ng-message="strong">
        <i class="ion-information-circled"></i> Passwords must have at least 8 characters and contain ALL of the following: uppercase letters, lowercase letters, and numbers.
    </div>
</script>
