<ion-view title="Change Password">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <a class="button back-button buttons button-clear header-item" ui-sref="tabsController.profile">
                <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">

        <form name="changePWForm" novalidate="" ng-submit="changePW(changePWForm)">
            <div class="list">
                <!-- Old Password -->
                <label class="item item-input item-icon-right" ng-class="{ 'has-errors' : changePWForm.password.$invalid && changePWForm.$submitted, 'no-errors' : changePWForm.password.$valid  && changePWForm.$submitted}">
                    <span class="input-label">Old Password</span><i class="icon ion-eye" on-touch="showPassword = !showPassword"></i>
                    <input type="password" name="password" id="password" placeholder=" " ng-model="input.password" ng-hide="showPassword" required>
                    <input type="text" name="password" id="passwordRaw" placeholder=" " ng-model="input.password" ng-show="showPassword" required>
                </label>
                <div class="error-container" ng-show="changePWForm.password.$error && changePWForm.$submitted" ng-messages="changePWForm.password.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>

                <!-- New Password -->
                <label class="item item-input item-icon-right" ng-class="{ 'has-errors' : changePWForm.newPassword.$invalid && changePWForm.$submitted, 'no-errors' : changePWForm.newPassword.$valid  && changePWForm.$submitted}">
                    <span class="input-label">New Password</span><i class="icon ion-eye" on-touch="showNewPassword = !showNewPassword"></i>
                    <input type="password" name="newPassword" id="newPassword" placeholder=" " ng-model="input.newPassword" ng-hide="showNewPassword" required>
                    <input type="text" name="newPassword" id="newPasswordRaw" placeholder=" " ng-model="input.newPassword" ng-show="showNewPassword" required>
                </label>
                <div class="error-container" ng-show="changePWForm.newPassword.$error && changePWForm.$submitted" ng-messages="changePWForm.newPassword.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>

                <button class="button button-block button-positive" type="submit" ng-click="changePW()">Change</button>
            </div>
    </ion-content>
</ion-view>
<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> Required Field
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Minimum length is 8 characters
    </div>
</script>
