<ion-view title='Activity on {{today}} at {{timeNow}}'>
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button" ng-click="discard()">DISCARD</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="save()">SAVE</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div data-tap-disabled="true" style="height:30vh;">
            <leaflet id="completed" bounds="bounds" defaults="defaults" lf-center="center" paths="paths" height="100%" width="100%"></leaflet>
        </div>
        <div class="list">
            <div class="item item-divider">
                Rate This Activity
            </div>
            <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
            <div class="item item-divider">
                Summary
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-clock"></i> Duration: {{duration}}
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-location"></i> Distance: {{distance}} km
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-speedometer"></i> Average Speed: {{averageSpeed}} km/h
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-flame"></i> Calories Burned: {{calories}}
            </a>
            <div class="item item-divider">
                Sharing
            </div>
            <!-- <li class="item item-toggle">
                Enable Sharing
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="input.isShared">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li> -->

            <ion-toggle ng-model="input.isShared" ng-checked="input.isShared" toggle-class="toggle-balanced">Enable Sharing</ion-toggle>
            <div class="item item-divider">
                Comments
            </div>
            <!-- If there is no comment -->
            <a class="item" href="#" ng-if="comments == null">There are no comments yet.</a>

            <!-- If there are comments -->

            <!--<a class="item" href="#" ng-repeat="c in route.comments">-->
            <a class="item item-avatar" href="#" ng-repeat="c in comments">
                <img ng-src="./img/avatars/{{c.avatar}}.png">
                <h2><b>{{c.username === username && "Me" || c.username}}</b></h2>
                <p style="overflow: initial; white-space: initial;">{{c.comment}}
                    <br>
                    <div ng-if='c.username === username && "Me"' style="text-align: right;">
                        <p ng-click="openModal($index, c.comment)" style="display: inline;"><u>Edit</u></p>
                        <p ng-click="deleteComment($index)" style="display: inline;"><u>Delete</u></p>
                    </div>
                </p>
            </a>
            <form>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Write something..." ng-model="input.comment">
                    </label>
                    <button class="button button-small button-positive" type="submit" ng-click="postComment()">
                        Post
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-balanced">
                <button class="button" ng-click="closeModal()">DISCARD</button>
            <h1 class="title">Edit Comment</h1>
                <button class="button" ng-click="editComment()">SAVE</button>
        </ion-header-bar>
        <ion-content>
            <label class="item item-input">
                <textarea ng-model="input.edittedComment"></textarea>
            </label>
            <button class="button button-block button-positive" ng-click="editComment()">Save</button>
        </ion-content>
    </ion-modal-view>
</script>
