<ion-view title="Cycle" hide-back-button="true">
    <ion-nav-bar class="bar-balanced">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-locate" ng-click="locateMe()"></button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div class="row" style="overflow: auto;">
            <div class="col">
                <button class="button button-clear button-balanced" style="width:100%;" ui-sref="selectRoute">
                    <p class="button-paragraph">
                        <b>Route ></b>
                        <br>None
                    </p>
                </button>
            </div>
            <div class="col">
                <button class="button button-clear button-balanced" style="width:100%;" ui-sref="planRoute">
                    <b>Plan My Ride</b>
                </button>
            </div>
        </div>
        <leaflet id="cycle" lf-center="center" tiles="tiles" layers="layers" markers="markers" paths="paths" geojson="geojson" decorations="decorations" defaults="defaults" height="100%" width="100%"></leaflet>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <a class="title" ng-click="startActivity()">Start Activity</a>
    </ion-footer-bar>
</ion-view>
