<ion-view title="Cycle" hide-back-button="true">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-locate" ng-click="locateMe()"></button>
    </ion-nav-buttons>
    <ion-content data-tab-disabled="true" scroll="false">
        <div class="row" style="display: flex; justify-content: center; align-items: center;height:12%">
            <div class="col">
                <button class="button button-clear button-balanced" style="width:100%;" ui-sref="selectRoute">
                    <p class="button-paragraph">
                        <b>Route ></b>
                        <br>None Selected
                    </p>
                </button>
            </div>
            <div class="col">
                <button class="button button-clear button-balanced" style="width:100%;" ng-click="planRoute()">
                    <b>Plan My Ride</b>
                </button>
            </div>
        </div>
        <div data-tap-disabled="true" style="height:100%">
        <leaflet id="cycle" lf-center="center" tiles="tiles" paths="paths" defaults="defaults" height="88%" width="100%"></leaflet>
    </div>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <a class="title" ng-click="startActivity()">Start Activity</a>
    </ion-footer-bar>
</ion-view>
