<ion-view title="Edit Profile">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-close" ui-sref="tabsController.profile"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="save()"/>SAVE</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="input.name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select ng-options="option.name for option in genders" ng-model="input.gender"></select>
            </label>
            <label class="item item-input">
                <span class="input-label">Birth Date</span>
                <input type="date" ng-model="input.dateOfBirth">
            </label>
            <label class="item item-input">
                <span class="input-label">Height (cm)</span>
                <input type="number" ng-model="input.height">
            </label>
            <label class="item item-input">
                <span class="input-label">Weight (kg)</span>
                <input type="number" ng-model="input.weight">
            </label>
        </ion-list>
    </ion-content>
</ion-view>
