<ion-view title="Edit Profile" ng-init="loadImages()">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <button class="button" ui-sref="tabsController.profile">CANCEL</button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="save()" />SAVE</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div style="text-align:center;">
            <div id="profilephoto" ng-click="openModal()" class="cropped-photo">
                <img style="border-radius: 100%;" ng-src="{{imgSrc}}" width="100px" height="100px">
            </div>
            <a class="button button-clear button-positive" ng-click="openModal()">Change</a><br>
        </div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Height (cm)</span>
                <input type="number" step="0.01" ng-model="input.height" value="{{input.height}}">
            </label>
            <label class="item item-input">
                <span class="input-label">Weight (kg)</span>
                <input type="number" step="0.01" ng-model="input.weight" value="{{input.weight}}">
            </label>
        </ion-list>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-balanced">
            <h1 class="title">Select Avatar</h1>
            <button class="button button-clear button-primary" ng-click="closeModal()">Close</button>
        </ion-header-bar>
        <ion-content>
            <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
                <div class="col col-25" ng-if="$index < images.length">
                    <img ng-src="{{images[$index].src}}" width="100%" ng-click="select($index+1)"/>
                </div>
                <div class="col col-25" ng-if="$index + 1 < images.length">
                    <img ng-src="{{images[$index + 1].src}}" width="100%"  ng-click="select($index+2)"/>
                </div>
                <div class="col col-25" ng-if="$index + 2 < images.length">
                    <img ng-src="{{images[$index + 2].src}}" width="100%"  ng-click="select($index+3)"/>
                </div>
                <div class="col col-25" ng-if="$index + 3 < images.length">
                    <img ng-src="{{images[$index + 3].src}}" width="100%"  ng-click="select($index+4)"/>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
