<ion-view title="Forgot Password" ng-init="init()">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="login">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true" scroll="false">
        <h5 style="text-align:center;">Enter your username and we'll retrieve your security questions. </h5>
        <div class="list list-inset">
            <form name="signupForm" novalidate="" ng-submit="getQns(signupForm)">
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.email.$invalid && signupForm.$submitted, 'no-errors' : signupForm.email.$valid  && signupForm.$submitted}">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="input.username" required>
                </label>
                <div class="error-container" ng-show="signupForm.username.$error && signupForm.$submitted" ng-messages="signupForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <button class="button button-block button-positive" type="submit">Retrieve</button>
            </form>
        </div>
    </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> Required Field
    </div>
</script>
