<ion-view title="Forgot Password" ng-init="init()">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="tabsController.profile">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true" scroll="false">

                <div class="list list-inset">
                    <h4 style="text-align:center;">Forgotten your password?</h4>
                    <h5 style="text-align:center;">Enter your email address and we'll help you reset your password.</h5>
            <label class="item item-input">
                <input type="text" placeholder="Email Address">
            </label>
        </div>
        <a class="button button-block button-positive" ui-sref="login">Reset</a>
    </ion-content>
</ion-view>
