<ion-view title="Home" hide-back-button="true">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-content padding="true">
        <!-- <h1 id="home-heading1" style="color:#000000;" class=" ">Hello John!</h1>
        <p id="home-markdown2" style="color:#000000;" class=" ">Here are some of the most popular routes...</p>
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page>
                <img src="img/punggol-waterway.jpg" width="auto" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                <button id="home-button7" class=" button button-balanced button-block icon-right ion-bookmark ">Bookmark</button>
            </ion-slide-page>
            <ion-slide-page>
                <img src="img/east-coast.jpg" width="auto" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
                <button id="home-button7" class=" button button-balanced button-block icon-right ion-bookmark ">Bookmark</button>
            </ion-slide-page>
            <ion-slide-page>
                <img src="img/botanic-gardens.jpg" width="auto" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
                <button id="home-button7" class=" button button-balanced button-block icon-right ion-bookmark ">Bookmark</button>
            </ion-slide-page>
        </ion-slides> -->

        <!--<div class="list card">

            <div id="routeName1" class="item item-text-wrap">
                <h2><b>North Eastern Riverine Loop</b></h2>
            </div>

            <div class="item item-image">
                <img src="img/punggol-waterway.jpg" ng-click="viewRoute1()">
            </div>

            <a class="item item-icon-left balanced" href="#">
                <i class="icon ion-bookmark"></i> Bookmark
            </a>

        </div>

        <div class="list card">

            <div id="routeName2" class="item item-text-wrap">
                <h2><b>Eastern Coastal Loop</b></h2>
            </div>

            <div class="item item-image">
                <img src="img/east-coast.jpg" ng-click="viewRoute2()">
            </div>

            <a class="item item-icon-left balanced" href="#">
                <i class="icon ion-bookmark"></i> Bookmark
            </a>

        </div>


        <div class="list card">

            <div id="routeName3" class="item item-text-wrap">
                <h2><b>Southern Ridges Loop</b></h2>
            </div>

            <div class="item item-image">
                <img src="img/southern ridges.jpg" ng-click="viewRoute3()">
            </div>

            <a class="item item-icon-left balanced" href="#">
                <i class="icon ion-bookmark"></i> Bookmark
            </a>

        </div>-->
        <ion-list>
            <h4>Here are some routes recommended by National Parks Board:</h4><br>
            <ion-item ng-repeat="route in routes" ng-click="viewRoute(route.cid)">
                {{route.name}}                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
