<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="row custom_grid" style="text-align: center">
            <div class="col positive-bg">
                Time
                <br> 45:01
            </div>
            <div class="col no_padding_margin">
                <div class="row no_padding_margin">
                    <div class="col energized-bg no_padding_margin">
                        4.53
                        <br> Avg. min/km
                    </div>
                </div>
                <div class="row no_padding_margin">
                    <div class="col calm-bg no_padding_margin">
                        234
                        <br> Calories
                    </div>
                </div>
            </div>
        </div>
        </div>
        <leaflet lf-center="center" tiles="tiles" layers="layers" markers="markers" paths="paths" geojson="geojson" decorations="decorations" defaults="defaults" height="55%" width="100%"></leaflet>
        <div class="row" style="text-align:center;">
            <div class="col royal-bg col-50">
                4.51
                <br> km
            </div>
            <div class="col royal-bg col-50">
                0.15
                <br> min/km
            </div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col col-50">
                <button class="button button-block button-assertive" ng-click="showConfirm()">
                    Stop
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-energized">
                    Pause
                </button>
            </div>
    </ion-content>
</ion-view>
