<ion-view title="In Progress" hide-back-button="true" cache-view="false">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-locate" ng-click="locateMe()"></button>
    </ion-nav-buttons>
    <ion-floating-button click="geotag()" has-footer="true" button-color="#2E294E" icon="ion-edit" icon-color="#fff">
    </ion-floating-button>
    <ion-content data-tab-disabled="true" scroll="false" padding="false">
        <div class="balanced-bg" style="text-align: center; height: 6%;">
            <timer interval="1000">
                <h1 style="color:white;"><i class="icon ion-clock"></i> {{hours|digits}}:{{minutes|digits}}:{{seconds|digits}}</h1>
            </timer>
        </div>
        <div class="balanced-bg" style="text-align: center; height:20%;">
            <ion-slides options="options" slider="data.slider">
                <ion-slide-page>
                    <h1 style="color:white;">{{distance}} km</h1>
                    <h4 style="color:white;">DISTANCE</h4>
                </ion-slide-page>
                <ion-slide-page>
                    <h1 style="color:white;">{{currentSpeed}} km/h</h1>
                    <h4 style="color:white;">CURRENT SPEED</h4>
                </ion-slide-page>
                <ion-slide-page>
                    <h1 style="color:white;">{{averageSpeed}} km/h</h1>
                    <h4 style="color:white;">AVERAGE SPEED</h4>
                </ion-slide-page>
                <ion-slide-page>
                    <h1 style="color:white;">{{calories}} calories</h1>
                    <h4 style="color:white;">CALORIES BURNED</h4>
                </ion-slide-page>
            </ion-slides>
        </div>
        <leaflet id="inprogress" lf-center="center" tiles="tiles" paths="paths" defaults="defaults" height="74%" width="100%"></leaflet>
    </ion-content>
    <ion-footer-bar class="bar-balanced">
        <button style="width:49%;" class="button button-assertive" ng-click="showConfirm()">
            Stop
        </button>
        <button style="width:49%;" class="button button-positive">
            Pause
        </button>
    </ion-footer-bar>
</ion-view>
