<ion-view class="welcome-view">
    <ion-content scroll="false">
        <section class="login-container">
            <div class="col header text-center">
                <img src="img/LOOP.png" class="logo"/>
            </div>
                <div class="bottom-content row">
                    <div class="col col-bottom">
                        <button class="button button-full button-positive" ui-sref="login">
                            Existing Users
                        </button>

                        <button class="button button-full button-positive" ui-sref="signup">
                            Join Now
                        </button>
                    </div>
                </div>
        </section>
    </ion-content>
</ion-view>
