<ion-view title="Login" id="page5">
    <ion-content padding="true" class="login" scroll="false">
        <div>
            <img src="img/LOOP.png" width="60%" height="50%" style="display: block; margin-top: 20%; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <input type="text" placeholder="Username" ng-model="input.username">
                </label>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="Password" ng-model="input.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 5%;"></div>
            <a class=" button button-block button-positive " ui-sref="tabsController.home">Log In</a>
            <a class="button button-block button-dark" ui-sref="signup">
                Sign Up
            </a>
            <div class="row custom_grid no_padding_margin" style="text-align:center;">
                <div class="col custom_grid no_padding_margin">
                    <button class="button button-clear button-positive" ui-sref="forgot">
                        <b>Forgot Password?</b>
                    </button>
                </div>
                <div class="col custom_grid no_padding_margin">
                    <button class="button button-clear button-positive" ui-sref="verify">
                        <b>Verify Account</b>
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
