<ion-view title="Login" id="page5">
    <ion-content padding="true" class="login">
        <div>
            <img src="img/LOOP.png" width="60%" height="50%" style="display: block; margin-top: 20%; margin-left: auto; margin-right: auto;">
        </div>
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <input type="text" placeholder="Username" ng-model="input.username">
                </label>
                <label class="item item-input " id="login-input2">
                    <input type="password" placeholder="Password" ng-model="input.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 5%;"></div>
            <a class=" button button-full button-positive " ui-sref="tabsController.home">Log In</a>
            <a class="button button-full button-dark" ui-sref="signup">
                Sign Up
            </a>
        </form>
    </ion-content>
</ion-view>
