<ion-view title="Plan My Route">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="tabsController.cycle">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Start Point</span>
                    <input type="text" placeholder="Start Point" id="startPoint">
                </label>
                <div id="startResult" style="width:100%;z-index:10000;position:absolute;"></div>
                <label class="item item-input item-floating-label">
                    <span class="input-label">End Point</span>
                    <input type="text" placeholder="End Point" id="endPoint">
                </label>
                <div id="endResult" style="width:100%;z-index:10000;position:absolute;"></div>
                <div class="button-bar bar-balanced">
                    <button ng-repeat="button in buttons" class="button icon ion-{{button.icon}}" ng-class="{'active': activeButton == $index}" ng-click="setActiveButton($index)"> {{button.text}}</button>
                </div>
            </ion-list>
            <button class="button button-full button-positive" type="submit" ng-click="planRoute()">Plan</button>
        </form>
    </ion-content>
</ion-view>
