<ion-view title="Plan My Route">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="tabsController.cycle">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <div class="item item-input"> <!-- item-floating-label -->
                    <!-- <span class="input-label">Start Point</span> -->
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Choose starting point" ng-model="input.startPoint" id="startPoint" ionic-input-clearable data-hideClearBtnOnBlur data-input-clear-btn-class="ion-close-circled" />
                    <!-- <i id="startCross" class="icon ion-close-round" style="margin-right:5px;display:none;" onclick="test()"></i> -->
                </div>
                <div id="startResult" style="width:100%;z-index:10000;position:absolute;"></div>
                <div class="item item-input"> <!-- item-floating-label -->
                    <!-- <span class="input-label">End Point</span> -->
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Choose destination" ng-model="input.endPoint" id="endPoint" ionic-input-clearable data-hideClearBtnOnBlur data-input-clear-btn-class="ion-close-circled" />
                </div>
                <div id="endResult" style="width:100%;z-index:10000;position:absolute;"></div>
                <div class="button-bar bar-balanced">
                    <button ng-repeat="button in buttons" class="button icon ion-{{button.icon}}" ng-class="{'active': activeButton == $index}" ng-click="setActiveButton($index)"> {{button.text}}</button>
                </div>
            </ion-list>
            <button class="button button-full button-positive" type="submit" ng-click="planRoute()">Plan</button>
        </form>
        <!-- <div class="list list-inset">
        <h5 style="text-align:left;"><b>Note:</b> When you use LOOP's map data, directions, and other Content, you may find that actual conditions differ from the map results and Content, so exercise your independent judgment and use LOOP at your own risk. You’re responsible at all times for your conduct and its consequences.</h5>
    </div> -->
</ion-content>
</ion-view>
