<ion-view title="Profile" hide-back-button="true">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="editProfile">EDIT</button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item style="text-align:center;">
                <div id="profilephoto" class="cropped-photo">
                    <img style="border-radius: 100%;" ng-src="{{profilePicture}}" width="100px" height="100px">
                </div>
                <a class="button button-clear button-positive" ng-click="show()">Change</a><br>
                <h2><b>{{name}}<b></h2>
                <h2><i class="icon ion-arrow-up-a"></i> Height: {{height}} cm</h2>
                <h2><i class="icon ion-speedometer"></i> Weight: {{weight}} kg</h2>
            </ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container2">
            <p id="profile-markdown4" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Activities</strong>
            </p>
            <ion-list id="profile-list10" class=" ">
                <ion-item class="item-icon-left  " id="profile-list-item10" ui-sref="tabsController.routes.myRoutes">
                    <i class="icon ion-ios-list-outline"></i>{{numActivities}} Tracked</ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 17px;"></div>
            <p id="profile-markdown5" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Calories</strong>
            </p>
            <ion-list id="profile-list9" class=" ">
                <ion-item class="item-icon-left  " id="profile-list-item11">
                    <i class="icon ion-android-bicycle"></i>{{totalCalories}} Calories Burned</ion-item>
            </ion-list>
        </div>
        <button class="button button-full button-positive" ui-sref="changePassword">Change Password</button>
        <button class="button button-full button-assertive" ng-click="logOut()">Log Out</button>
    </ion-content>
</ion-view>
