<ion-view title="Profile" hide-back-button="true">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-gear-a" ui-sref="settings"></button>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="profile-list8" class=" ">
            <ion-item class="item-thumbnail-left  " id="profile-list-item9">
                <img src="img/8E1o9Ox6TeGfC0tQXiMu_placeholder-hi.png">
                <h2>John Smith</h2>
            </ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container2">
            <p id="profile-markdown4" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Activities</strong>
            </p>
            <ion-list id="profile-list10" class=" ">
                <ion-item class="item-icon-left  " id="profile-list-item10">
                    <i class="icon ion-ios-list-outline"></i>212 Tracked</ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 17px;"></div>
            <p id="profile-markdown5" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Calories</strong>
            </p>
            <ion-list id="profile-list9" class=" ">
                <ion-item class="item-icon-left  " id="profile-list-item11">
                    <i class="icon ion-android-bicycle"></i>983 Calories Burned</ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
