<ion-view title="My Routes">
    <ion-content class="has-tabs-top">
        <ion-refresher pulling-text="Refreshing Routes" on-refresh="doRefresh()"></ion-refresher>
        <!-- <ion-list ng-controller="routesMyRoutesCtrl" show-delete="false" can-swipe="true"> -->
            <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="route in routes" ng-click="viewRoute($index)">
                <div data-tap-disabled="true" style="position: absolute; top: 10px; left: 10px; max-width: 80px; max-height: 80px; width: 100%; height: 100%;">
                    <leaflet ng-attr-id="{{route.cid}}" defaults="defaults" center="center" tiles="tiles" geojson="geojson" height="100%" width="100%"></leaflet>
                </div>
                <h2>{{route.name}}</h2>
                <p>Distance: {{route.distance | km}} km</br>Duration: {{route.duration | duration}}</br>Comments: {{routeComments[$index].comments.length||0}}</p>
                <!-- <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button> -->
            </ion-item>
            <ion-item class="item" style="text-align: center;" ng-if="!(routes.length !== 0)">You do not have any route recorded.</ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="checkHasMoreRoutes()" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
