<ion-view title="Routes" hide-back-button="true">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-tabs class="tabs-striped tabs-top">

        <ion-tab title="Popular">
            <ion-view>
                <ion-content class="has-header has-tabs-top">
                    <ion-list>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item5" ui-sref="viewRoute">
                            <img src="img/ecl.png">
                            <h2>Eastern Coastal Loop</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item6" ui-sref="viewRoute">
                            <img src="img/cul.png">
                            <h2>Central Urban Loop</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right" id="routes-list-item7" ui-sref="viewRoute">
                            <img src="img/nerl.png">
                            <h2>North Eastern Riverine Loop</h2>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="My Routes">
            <ion-view>
                <ion-content class="has-header has-tabs-top">
                    <ion-list>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item5" ui-sref="viewRoute">
                            <img src="img/sg.png">
                            <h2>PCN 1</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item6" ui-sref="viewRoute">
                            <img src="img/sg.png">
                            <h2>PCN 2</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right" id="routes-list-item7" ui-sref="viewRoute">
                            <img src="img/sg.png">
                            <h2>PCN 3</h2>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>

        <ion-tab title="Bookmarks">
            <ion-view>
                <ion-content class="has-header has-tabs-top">
                    <ion-list>
                        <ion-item ng-repeat="route in routes" ng-click="viewRoute(route.cid)">
                            <b>{{route.name}}</b></br>
                            </br>
                            <div data-tap-disabled="true" style="height:30vh;">
                                <leaflet id="{{route.cid}}" defaults="defaults" center="center" tiles="tiles" geojson="geojson" height="100%" width="100%"></leaflet>
                            </div>
                            <br>
                            <div class="row" >
                                <div class="col-90" style="padding: 0 !important;">
                                    <p><b>Distance:</b> {{route.distance}} km <b>Duration:</b> {{route.duration}} mins</p>
                                </div>
                                <div class="col-10" style="padding: 0 !important;">
                                    <p style="width=20%;" align="right">{{route.numcomments}} <i class="icon ion-ios-chatbubble-outline"></i></p>
                                </div>
                            </div>
                        </ion-item>
                        <!--<ion-item class="item-thumbnail-right  " id="routes-list-item5" ui-sref="viewRoute">
                            <img src="img/sg.png">
                            <h2>PCN 4</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item6" ui-sref="viewRoute">
                            <img src="img/sg.png">
                            <h2>PCN 5</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right" id="routes-list-item7" ui-sref="viewRoute">
                            <img src="img/sg.png">
                            <h2>PCN 6</h2>
                        </ion-item>-->
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
