<ion-view title="My Routes">
    <ion-content class="has-tabs-top">
        <ion-list>
            <ion-item class="item-thumbnail-right  " id="routes-list-item5" ui-sref="viewRoute">
                <img src="img/ecl.png">
                <h2>Eastern Coastal Loop</h2>
            </ion-item>
            <ion-item class="item-thumbnail-right  " id="routes-list-item6" ui-sref="viewRoute">
                <img src="img/cul.png">
                <h2>Central Urban Loop</h2>
            </ion-item>
            <ion-item class="item-thumbnail-right" id="routes-list-item7" ui-sref="viewRoute">
                <img src="img/nerl.png">
                <h2>North Eastern Riverine Loop</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
