<ion-view title="Routes" id="page10">
    <ion-tabs class="tabs-striped tabs-top">

        <ion-tab title="Popular">
            <ion-nav-view>
                <ion-content>
                    <ion-list>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item5">
                            <img src="img/ecl.png">
                            <h2>Eastern Coastal Loop</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item6">
                            <img src="img/cul.png">
                            <h2>Central Urban Loop</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right" id="routes-list-item7">
                            <img src="img/nerl.png">
                            <h2>North Eastern Riverine Loop</h2>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="My Routes">
            <ion-nav-view>
                <ion-content>
                    <ion-list>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item5">
                            <img src="img/sg.png">
                            <h2>PCN 1</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item6">
                            <img src="img/sg.png">
                            <h2>PCN 2</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right" id="routes-list-item7">
                            <img src="img/sg.png">
                            <h2>PCN 3</h2>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Bookmarks">
            <ion-nav-view>
                <ion-content>
                    <ion-list>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item5">
                            <img src="img/sg.png">
                            <h2>PCN 4</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right  " id="routes-list-item6">
                            <img src="img/sg.png">
                            <h2>PCN 5</h2>
                        </ion-item>
                        <ion-item class="item-thumbnail-right" id="routes-list-item7">
                            <img src="img/sg.png">
                            <h2>PCN 6</h2>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
    </ion-tabs>

</ion-view>
