<ion-view title="Nearby Routes">
    <ion-content class="has-tabs-top">
        <ion-list>
            <ion-item class="item-thumbnail-right  " id="routes-list-item5" ui-sref="viewRoute">
                <img src="img/sg.png">
                <h2>PCN 1</h2>
            </ion-item>
            <ion-item class="item-thumbnail-right  " id="routes-list-item6" ui-sref="viewRoute">
                <img src="img/sg.png">
                <h2>PCN 2</h2>
            </ion-item>
            <ion-item class="item-thumbnail-right" id="routes-list-item7" ui-sref="viewRoute">
                <img src="img/sg.png">
                <h2>PCN 3</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
