<ion-view title="Settings">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="tabsController.profile">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item item-icon-left">
                <i class="icon ion-arrow-up-a"></i> Height
                <span class="item-note">
            <input ng-model="height" type="text" value="165 cm">
          </span>
            </ion-item>
            <ion-item class="item item-icon-left">
                <i class="icon ion-speedometer"></i> Weight
                <span class="item-note">
            <input ng-model="weight" type="text" value="50 kg">
          </span>
            </ion-item>
        </ion-list>
        <a class="button button-block button-assertive" ng-click="logout()">Log Out</a>
    </ion-content>
</ion-view>
