<ion-view title="Sign Up">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="landing">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form name="signupForm" novalidate="" ng-submit="signup(signupForm)">
            <div class="list">
                <!-- Username -->
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.username.$invalid && signupForm.$submitted, 'no-errors' : signupForm.username.$valid  && signupForm.$submitted}">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="input.username" ng-minlength="8" ng-maxlength="15" required record-availability-validator="{{availabilityAPI}}">
                </label>
                <div class="error-container" ng-show="signupForm.username.$error && signupForm.$submitted" ng-messages="signupForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Password -->
                <label class="item item-input item-icon-right" ng-class="{ 'has-errors' : signupForm.password.$invalid && signupForm.$submitted, 'no-errors' : signupForm.password.$valid  && signupForm.$submitted}">
                    <span class="input-label">Password</span><i class="icon ion-eye" on-touch="toggleVisibility()"></i>
                    <input type="{{type}}" name="password" id="password" ng-model="input.password" required password-strength>
                </label>
                <div class="error-container" ng-show="signupForm.password.$error && signupForm.$submitted" ng-messages="signupForm.password.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Birth Month Year -->
                <label class="item item-input">
                    <span class="input-label">Birth Date</span>
                    <input type="month" name="birthDate" ng-model="input.birthDate" required>
                </label>
                <div class="error-container" ng-show="signupForm.birthDate.$error && signupForm.$submitted" ng-messages="signupForm.birthDate.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Gender -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select name="gender" ng-model="input.gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </label>
            </div>

            <div class="list">
                <div class="item item-button-right" style="overflow: initial; white-space: initial;">
                    <b>Security Question 1:</b> {{selected1.question}}
                    <button type="button" class="button button-positive" modal-select="" ng-model="$parent.selected1" options="questions1" modal-title="Select a Security Question" header-footer-class="bar-balanced" hide-reset="true">
                        <i class="ion-android-open"></i>
                        <div class="option">
                            {{option.question}}
                        </div>
                    </button>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.ans1.$invalid && signupForm.$submitted, 'no-errors' : signupForm.ans1.$valid  && signupForm.$submitted}">
                    <span class="input-label">Answer </span>
                    <input type="text" name="ans1" ng-model="input.ans1" required>
                </label>
                <div class="error-container" ng-show="signupForm.ans1.$error && signupForm.$submitted" ng-messages="signupForm.ans1.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <div class="list">
                <div class="item item-button-right" style="overflow: initial; white-space: initial;">
                    <b>Security Question 2:</b> {{selected2.question}}
                    <button type="button" class="button button-positive" modal-select="" ng-model="$parent.selected2" options="questions2" modal-title="Select a Security Question" header-footer-class="bar-balanced" hide-reset="true">
                        <i class="ion-android-open"></i>
                        <div class="option">
                            {{option.question}}
                        </div>
                    </button>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.ans2.$invalid && signupForm.$submitted, 'no-errors' : signupForm.ans2.$valid  && signupForm.$submitted}">
                    <span class="input-label">Answer </span>
                    <input type="text" name="ans2" ng-model="input.ans2" required>
                </label>
                <div class="error-container" ng-show="signupForm.ans2.$error && signupForm.$submitted" ng-messages="signupForm.ans2.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>

            <div class="list">
                <div class="item item-button-right" style="overflow: initial; white-space: initial;">
                    <b>Security Question 3:</b> {{selected3.question}}
                    <button type="button"  class="button button-positive" modal-select="" ng-model="$parent.selected3" options="questions3" modal-title="Select a Security Question" header-footer-class="bar-balanced" hide-reset="true">
                        <i class="ion-android-open"></i>
                        <div class="option">
                            {{option.question}}
                        </div>
                    </button>
                </div>
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.ans3.$invalid && signupForm.$submitted, 'no-errors' : signupForm.ans3.$valid  && signupForm.$submitted}">
                    <span class="input-label">Answer </span>
                        <input type="text" name="ans3" ng-model="input.ans3" required>
                </label>
                <div class="error-container" ng-show="signupForm.ans3.$error && signupForm.$submitted" ng-messages="signupForm.ans3.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>
            <button type="submit" class="button button-positive button-full">Sign Up</button>
        </form>
    </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="email">
        <i class="ion-information-circled"></i> Invalid Email
    </div>
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> Required Field
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Usernames must be between 8 and 15 characters
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> Usernames must be between 8 and 15 characters
    </div>
    <div class="error" ng-message="recordLoading">
        <i class="ion-information-circled"></i> Checking...
    </div>
    <div class="error" ng-message="checking">
        <i class="ion-information-circled"></i> Checking...
    </div>
    <div class="error" ng-message="recordAvailable">
        <i class="ion-information-circled"></i> Unavailable
    </div>
    <div class="error" ng-message="strong">
        <i class="ion-information-circled"></i> Passwords must have at least 8 characters and contain ALL of the following: uppercase letters, lowercase letters, and numbers.
    </div>
</script>
