<ion-view title="Sign Up">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="login">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="input.email">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="input.name">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="input.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="input.password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="input.confirmpw">
                </label>
            </ion-list>
            <a class="button button-dark button-block" ui-sref="verify">Sign Up</a>
        </form>
    </ion-content>
</ion-view>
