<ion-view title="Sign Up">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="landing">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form name="signupForm" novalidate="" ng-submit="signup(signupForm)">
            <div class="list">
                <!-- Email -->
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.email.$invalid && signupForm.$submitted, 'no-errors' : signupForm.email.$valid  && signupForm.$submitted}">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="input.email" required record-availability-validator="https://sgcycling-sgloop.rhcloud.com/api/cyclist/account/checkEmailAvailability">
                </label>
                <div class="error-container" ng-show="signupForm.email.$error && signupForm.$submitted" ng-messages="signupForm.email.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Name -->
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.name.$invalid && signupForm.$submitted, 'no-errors' : signupForm.name.$valid  && signupForm.$submitted}">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" ng-model="input.name" required>
                </label>
                <div class="error-container" ng-show="signupForm.name.$error && signupForm.$submitted" ng-messages="signupForm.name.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Username -->
                <label class="item item-input" ng-class="{ 'has-errors' : signupForm.username.$invalid && signupForm.$submitted, 'no-errors' : signupForm.username.$valid  && signupForm.$submitted}">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" ng-model="input.username" ng-minlength="8" ng-maxlength="15" required record-availability-validator="https://sgcycling-sgloop.rhcloud.com/api/cyclist/account/checkUsernameAvailability">
                </label>
                <div class="error-container" ng-show="signupForm.username.$error && signupForm.$submitted" ng-messages="signupForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <!-- Password -->
                <label class="item item-input item-icon-right" ng-class="{ 'has-errors' : signupForm.password.$invalid && signupForm.$submitted, 'no-errors' : signupForm.password.$valid  && signupForm.$submitted}">
                    <span class="input-label">Password</span><i class="icon ion-eye" on-touch="toggleVisibility()"></i>
                    <input type="{{type}}" name="password" id="password" ng-model="input.password" required password-strength>
                </label>
                <div class="error-container" ng-show="signupForm.password.$error && signupForm.$submitted" ng-messages="signupForm.password.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>
            <button type="submit" class="button button-positive button-full">Sign Up</button>
        </form>

        <!-- <form name="userForm">
            <div class="field">
                <label for="emailAddress">Enter your email address:</label>
                <input type="email" name="emailAddress" ng-model="data.email" ng-minlength="5" ng-maxlength="30" record-availability-validator="http://sgcycling-sgloop.rhcloud.com/api/users/accounts/checkEmailAvailability" required />

                <div ng-messages="userForm.emailAddress.$error" id="error-messages.html">
                    <div ng-message="recordLoading">Checking database...</div>
                    <div ng-message="recordAvailable">The email address is already in use...</div>
                </div>
            </div>

            <input type="submit" />
        </form> -->
    </ion-content>
</ion-view>

<script id="error-list.html" type="text/ng-template">
    <div class="error" ng-message="email">
        <i class="ion-information-circled"></i> Invalid Email
    </div>
    <div class="error" ng-message="required">
        <i class="ion-information-circled"></i> Required Field
    </div>
    <div class="error" ng-message="minlength">
        <i class="ion-information-circled"></i> Usernames must be between 8 and 15 characters
    </div>
    <div class="error" ng-message="maxlength">
        <i class="ion-information-circled"></i> Usernames must be between 8 and 15 characters
    </div>
    <div class="error" ng-message="recordLoading">
        <i class="ion-information-circled"></i> Checking...
    </div>
    <div class="error" ng-message="checking">
        <i class="ion-information-circled"></i> Checking...
    </div>
    <div class="error" ng-message="recordAvailable">
        <i class="ion-information-circled"></i> Unavailable
    </div>
    <div class="error" ng-message="strong">
        <i class="ion-information-circled"></i> Passwords must have at least 8 characters and contain ALL of the following: uppercase letters, lowercase letters, and numbers.
    </div>
</script>
