<ion-view title="Tabs Controller" class="tabs-striped ">
    <ion-tabs class="tabs-light tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Home" icon="ion-home" href="#/tabs/home" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Routes" icon="ion-android-map" href="#/tabs/routes" id="tabsController-tab5" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cycle" icon="ion-android-bicycle" href="#/tabs/cycle" id="tabsController-tab6" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-android-person" href="#/tabs/profile" id="tabsController-tab7" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
