<ion-view title="Verify Account" ng-init="init()">
    <ion-nav-bar class="bar-balanced"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <a class="button back-button buttons button-clear header-item" ui-sref="login">
            <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
        </a>
    </ion-nav-buttons>
    <ion-content class="center-vertical">
        <div class="list list-inset">
            <h4 style="text-align:center;">We have sent the verification code to the email you used to create your account. You should receive it shortly. Otherwise, please check your junk or spam folder.</h4>
            <h4 style="text-align:center;"><b>Enter the 4-digit verification code to verify your account.</b></h4>
        </div>
        <div style="height:5%;"></div>
        <div>
            <div class="row" style="text-align: center">
                <div class="col col-10 col-offset-15" style="border-bottom: 1px solid black">
                    {{passcode.substring(0, 1)}}
                </div>
                <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                    {{passcode.substring(1, 2)}}
                </div>
                <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                    {{passcode.substring(2, 3)}}
                </div>
                <div class="col col-10 col-offset-10" style="border-bottom: 1px solid black">
                    {{passcode.substring(3, 4)}}
                </div>
            </div>
        </div>
        <div style="margin-top: 50px">
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch" ng-click="add(1)">1</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(2)">2</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(3)">3</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch" ng-click="add(4)">4</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(5)">5</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(6)">6</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch" ng-click="add(7)">7</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(8)">8</button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(9)">9</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-20 col-offset-20">
                    <button class="button button-light button-stretch"></button>
                </div>
                <div class="col col-20">
                    <button class="button button-light button-stretch" ng-click="add(0)">0</button>
                </div>
                <div class="col col-20">
                    <button class="button icon ion-arrow-left-a button-light button-stretch" ng-click="delete()"></button>
                </div>
            </div>
        </div><br>
        <div class="text-center">
            <strong><a ng-click="openModal()">Resend Verification Code</a></strong>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title" ng-click="verify()">Verify</div>
    </div>
</ion-view>

<script id="resend.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Resend Code</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <form name="resendForm" novalidate="" ng-submit="resend(resendForm)">
            <br><h4 style="text-align:center;"><b>Enter your email address and we will resend you a verification code shortly.</b></h4><br>
            <div class="list">
                <!-- Email -->
                <label class="item item-input" ng-class="{ 'has-errors' : resendForm.email.$invalid && resendForm.$submitted, 'no-errors' : resendForm.email.$valid  && resendForm.$submitted}">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="input.email" required email>
                </label>
                <div class="error-container" ng-show="resendForm.email.$error && resendForm.$submitted" ng-messages="resendForm.email.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
            </div>
            <button type="submit" class="button button-positive button-full">Resend</button>
        </form>
    </ion-content>
  </ion-modal-view>
  <script id="error-list.html" type="text/ng-template">
      <div class="error" ng-message="email">
          <i class="ion-information-circled"></i> Invalid Email
      </div>
      <div class="error" ng-message="required">
          <i class="ion-information-circled"></i> Required Field
      </div>
  </script>
</script>
