<ion-view title="North Eastern Riverine Loop" hide-back-button="true">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <a class="button back-button buttons button-clear header-item" ng-click="goBack()">
                <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div data-tap-disabled="true" style="height:30vh;">
            <leaflet id="viewRoute" lf-center="center" tiles="tiles" defaults="defaults" height="100%" width="100%"></leaflet>
        </div>
        <div class="list">
            <div class="item item-divider">
                Rate This Activity (Average Rating: {{}})
            </div>
            <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
            <div class="item item-divider">
                Summary
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-clock"></i>Estimated Duration: {{estimateDuration}}
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-location"></i> Distance: {{distance}}
            </a>
            <div class="item item-divider">
                Comments
            </div>
            <div class="list">
                <!-- If there is no comment -->
                <a class="item" href="#" ng-if="comments.length === 0">There are no comments yet.</a>

                <!-- If there are comments -->

                <a class="item item-avatar" href="#">
                    <img src="/img/placeholder-man-grid-240x268.png">
                    <h2>Venkman</h2>
                    <p>Well lited at night.</p>
                </a>
                <a class="item item-avatar" href="#">
                    <img src="img/placeholder-man-grid-240x268.png">
                    <h2>Melanie</h2>
                    <p>I love the people here!</p>
                </a>


                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Write something...">
                    </label>
                    <button class="button button-small button-positive">
                        Post
                    </button>
                </div>

            </div>

        </div>
        <!--<button class="button button-block icon-left ion-bookmark button-positive">Bookmark</button>
        <button class="button button-block icon-left ion-android-bicycle button-balanced" ui-sref="tabsController.cycle">Cycle</button>-->
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button style="width:49%;" class="button icon-left ion-star button-positive">
            Bookmark
        </button>
        <button style="width:49%;" class="button icon-left ion-android-bicycle button-balanced">
            Cycle
        </button>
    </ion-footer-bar>
</ion-view>
