<ion-view hide-back-button="true">
    <ion-nav-bar class="bar-balanced">
        <ion-nav-buttons side="left">
            <a class="button back-button buttons button-clear header-item" ng-click="goBack()">
                <i class="icon ion-ios-arrow-back" style="color:white;"> Back</i>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>{{route.name}}</ion-nav-title>
    <ion-content>
        <div data-tap-disabled="true" style="height:30vh;">
            <leaflet id="viewRoute" lf-center="center" tiles="tiles" defaults="defaults" geojson="geojson" height="100%" width="100%"></leaflet>
        </div>
        <div class="list">
            <div class="item item-divider">
                Average Rating ({{route.ratings | toFixed2}})
            </div>
            <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
            <div class="item item-divider">
                Summary
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-clock"></i>Duration: {{route.duration | duration}}
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-location"></i> Distance: {{route.distance | km}} km
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-speedometer"></i> Average Speed: {{route.distance / 1000 / (route.duration / 3600) | toFixed2}} km/h
            </a>
            <a ng-if="route.calories != null" class="item item-icon-left" href="#">
                <i class="icon ion-ios-flame"></i> Calories: {{route.calories | toFixed2}}
            </a>
            <div class="item item-divider">
                Comments
            </div>
            <div class="list">
                <!-- If there is no comment -->
                <a class="item" href="#" ng-if="route.comments == null">There are no comments yet.</a>

                <!-- If there are comments -->

                <!--<a class="item" href="#" ng-repeat="c in route.comments">-->
                <a class="item item-avatar" href="#" ng-repeat="c in route.comments">
                    <img ng-src="./img/avatars/{{c.avatar}}.png">
                    <h2><b>{{c.username === username && "Me" || c.username}}</b></h2>
                    <p style="overflow: initial; white-space: initial;">{{c.comment}}
                        <br>
                        <div ng-if='c.username === username && "Me"' style="text-align: right;">
                            <p ng-click="openModal(c.coid, c.comment)" style="display: inline;"><u>Edit</u></p>
                            <p ng-click="deleteComment(c.coid)" style="display: inline;"><u>Delete</u></p>
                        </div>
                    </p>
                </a>
                <form>
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="Write something..." ng-model="input.comment">
                        </label>
                        <button class="button button-small button-positive" type="submit" ng-click="postComment()">
                            Post
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button style="width:49%;" ng-class="{'button icon-left ion-bookmark button-positive':route.isbookmarked===false,'button icon-left ion-bookmark button-stable':route.isbookmarked===true }" ng-click="bookmark()">
            {{route.isbookmarked === true && "Unbookmark" || "Bookmark"}}
        </button>
        <button style="width:49%;" class="button icon-left ion-android-bicycle button-balanced" ng-click="cycle()">
            Cycle
        </button>
    </ion-footer-bar>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-balanced">
                <button class="button" ng-click="closeModal()">DISCARD</button>
            <h1 class="title">Edit Comment</h1>
                <button class="button" ng-click="editComment()">SAVE</button>
        </ion-header-bar>
        <ion-content>
            <label class="item item-input">
                <textarea rows="4" ng-model="input.edittedComment"></textarea>
            </label>
            <button class="button button-full button-positive" ng-click="editComment()">Save</button>
        </ion-content>
    </ion-modal-view>
</script>
